#container {
  display: flex;
  flex-direction: column;
}

#profile {
  margin: 0 auto;
  width: 30%;
}

#intro {
  margin: 0 auto;
  width: 80%;
  padding: 30px 0;
}

#category {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;
}

.category-link {
  display: grid;
  min-height: 300px;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(238, 238, 238, 0.1) 14.54%,
    rgba(237, 237, 237, 0.5) 77.51%
  );
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}

.category-link:hover,
:focus {
  transform: scale(1.05);
}

.category-link h2 {
  z-index: 100;
}

#graphic-design::before {
  content: ""; /* 必须设置，即使没有内容 */
  position: absolute; /* 绝对定位相对于父元素 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/home/ui_pre.png") center/contain repeat; /* 设置背景图片 */
  opacity: 0.5; /* 设置透明度为50% */
  border-radius: inherit; /* 继承父元素的圆角 */
}

#computer-vision::before {
  content: ""; /* 必须设置，即使没有内容 */
  position: absolute; /* 绝对定位相对于父元素 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/about-me/cv.png") center/cover; /* 设置背景图片 */
  opacity: 0.5; /* 设置透明度为50% */
  border-radius: inherit; /* 继承父元素的圆角 */
}

@media screen and (min-width: 900px) {
  #container {
    display: grid;
    min-height: calc(100vh - 58px);
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    overflow: visible;
    align-items: end;
    padding-bottom: 10px;
  }

  #profile {
    display: grid;
    width: 100%;
    position: relative;
    left: 10%;
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  #intro {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1;
    width: 80%;
    padding: 50px 0;
  }

  #category {
    display: grid;
    grid-column: 2 / -1;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    justify-items: start;
    grid-row: 2;
    width: 100%;
  }
}
