html {
  min-height: 100%;
  /* background-image: linear-gradient(
    to right bottom,
    rgba(87, 125, 134, 0.7) 2.71%,
    rgba(86, 157, 170, 0.7) 36.92%,
    rgba(135, 203, 185, 0.7) 73.05%,
    rgba(185, 237, 221, 0.7) 110.39%
  ); */
  background-image: url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.skip a {
  position: absolute;
  top: -40px;
}

.skip a:focus {
  top: 0;
}

body {
  font-family: "Hedvig Letters Serif";
  line-height: 1.6;
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 5px 0;
}

.social-links a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

a:hover,
a:focus {
  color: #577d86;
  text-decoration: underline;
}

.social-links a:hover,
.social-links a:focus {
  text-decoration: underline;
  color: white;
  border: solid 1px white;
}

footer p {
  font-size: 0.8rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: #333;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 a {
  text-decoration: none;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

nav {
  margin-bottom: 20px;
}

nav ul li {
  display: block;
}

nav ul {
  list-style: none;
  text-align: right;
  padding: 10px 0;
  font-family: roboto;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 15px 20px;
}

nav ul li a:hover,
:focus {
  color: #577d86;
  text-decoration: underline;
}

#home {
  position: absolute;
  left: 20px;
  font-family: "hedvig letters serif";
  font-size: 1.5rem;
}

@media screen and (min-width: 900px) {
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
  }

  nav ul li {
    display: inline;
  }
}
